@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #dcdcdc;
}

.header {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 200px 200px 200px 200px;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #db0e0e;
}

#searchbar{
    height: 37px;
    width: 34%;
    padding: 0 10px;
    border-radius: 30px;
    font-size: 20px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* Cuando el campo de entrada se enfoque, cambie su ancho al 100% */

input[type=text]:focus {
    width: 70%;
}

/*banner */

.pelicula-principal {
    font-size: 16px;
    min-height: 60.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.815) 0%, rgb(0, 0, 0) 100%), url(../source/img/PortadaSeries.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 10px;
    margin-left: 20px;
}

.pelicula-principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    margin-left: 20px;
}

.pelicula-principal .boton {
    background: rgb(83, 80, 80);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    margin-left: 20px;
}

.pelicula-principal .boton:hover {
    background: #e74124;
    color: #000;
}

.pelicula-principal .boton i {
    margin-right: 1.25em;
}


/*BLOG */

#blog h3,
h4 {
    text-align: center;
}

#blog h4 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#blog .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 35px;
}

#blog img {
    width: 109%;
    max-width: 300px;
}

#blog .contenedor :hover img {
    box-shadow: 0px 0px 3px 3px #000000;
}


/*footer*/

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 6px;
    padding-bottom: 40px;
}

.pie {
    background: #000000;
    width: 100%;
    height: 148px;
    margin-top: 120px;
}

.contact-us {
    width: 40%;
    color: #ffffff;
}

.black {
    width: 109%;
    max-width: 300px;
    height: 444px;
}
.filtro{
    display: none;
}